<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row header-box d-flex justify-content-between">
        <div>
          <button 
          #homeButton
          (click)='onSelect(0)'
          class="header-button"
          routerLink="/">Home</button>
          <button 
          #teamsButton
          (click)='onSelect(1)'
          class="header-button"
          routerLink="/teams">Teams</button>
        </div>
        <div>
          <button
          *ngIf='showLoginButton'
          #loginButton 
          (click)='onSelect(2)'
          class="header-button" 
          routerLink="/login">Log in</button>
          <button
          #applyButton 
          (click)='onSelect(3)'
          class="header-button" 
          routerLink="/apply">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>